doctype html
html(lang="en")
  head
    title TripZ
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
    link(rel="stylesheet" href="fonts/icomoon/style.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/magnific-popup.css")
    link(rel="stylesheet" href="css/jquery-ui.css")
    link(rel="stylesheet" href="css/owl.carousel.min.css")
    link(rel="stylesheet" href="css/owl.theme.default.min.css")
    link(rel="stylesheet" href="css/bootstrap-datepicker.css")
    link(rel="stylesheet" href="fonts/flaticon/font/flaticon.css")
    link(rel="stylesheet" href="css/aos.css")
    link(rel="stylesheet" href="css/rangeslider.css")
    link(rel="stylesheet" href="css/style.css")
    style.
      @font-face {
      font-family: IRANSans;
      src: url(fonts/IRANSans.ttf);
      }
      @font-face {
      font-family: IRANSansLight;
      src: url(fonts/IRANSans_Light.ttf);
      }
      @font-face {
      font-family: IRANSansBold;
      src: url(fonts/IRANSans_Bold.ttf);
      }
      @font-face {
      font-family: IRANSansUltraLight;
      src: url(fonts/IRANSans_UltraLight.ttf);
      }
      @font-face {
      font-family: eq;
      src: url(fonts/Kinesis-Std.ttf);
      }
  body(style="font-family: IRANSansLight,serif")
    .site-wrap
      .site-mobile-menu
        .site-mobile-menu-header
          .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
        .site-mobile-menu-body
      header.site-navbar.py-2.bg-white(role="banner")
        .container
          .row.align-items-center
            .col-11.col-xl-2
              h1.mb-0.site-logo
                a.text-black.h2.mb-0(href="/") تریپ‌زی
            .col-12.col-md-10.d-none.d-xl-block
              nav.site-navigation.position-relative.text-right(role="navigation")
                ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block(dir="rtl")
                  li.active
                    a(href="/")
                      span خانه
                  li
                    a(href="/users/login")
                      span ورود/ عضویت
                  li
                    a(href="/about")
                      span درباره ما
            .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style="position: relative; top: 3px;")
              a.site-menu-toggle.js-menu-toggle.text-black(href="#")
                span.icon-menu.h3
      .site-blocks-cover.overlay(style="background-image: url(images/home_header.jpg);" data-aos="fade" data-stellar-background-ratio="0.5")
        .container
          .row.align-items-center.justify-content-center.text-center
            .col-md-10
              .row.justify-content-center.mb-4
                .col-md-8.text-center(dir="rtl")
                  h1(data-aos="fade-up")
                    span.typed-words
                    | اطراف را بیابید
                  p(data-aos="fade-up" data-aos-delay="100") جاذبه‌های اطراف خود را کشف کنید!
              .form-search-wrap.p-2(data-aos="fade-up" data-aos-delay="200")
                form(method="get" id="searchForm" action="/users/get_hotels" dir="rtl")
                  .row.align-items-center
                    .col-lg-12.col-xl-4.no-sm-border.border-left
                      input.form-control(type="text" name="name" placeholder="نام محل موردنظر خود را وارد کنید")
                    .col-lg-12.col-xl-3.no-sm-border.border-left
                      .wrap-icon
                        input.form-control(type="text" name="city" placeholder="شهر")
                        span.icon.icon-room
                    .col-lg-12.col-xl-3
                      .select-wrap
                        span.icon
                          span.icon-keyboard_arrow_down
                        select.form-control(name="" id="")
                          option(value="") همه‌ی اقامت‌گاه‌ها
                          option(value="") هتل
                          option(value="") مسافرخانه
                          option(value="") شخصی
                    .col-lg-12.col-xl-2.text-left
                      input.btn.btn-primary(type="submit" value="بگرد")
      .site-section(data-aos="fade")
        .container
          .row.justify-content-center.mb-5
            .col-md-7.text-center.border-primary
              h2.font-weight-light.text-primary پربازدیدترین هتل‌ها
              p.color-black-opacity-5 هتل‌هایی که بیشتر رزرو شده‌اند را ببینید
            .row
              each hotel in hotels
                .col-md-6.mb-4.mb-lg-3.mp-2.col-lg-4
                  .listing-item
                    .listing-image
                      img.img-fluid(src="images/img_1.jpg" alt="Image")
                    .listing-item-content
                      a.bookmark(href="#" data-toggle="tooltip" data-placement="left" title="Bookmark")
                        span.icon-heart
                      a.px-3.mb-3.category(href="#") هتل
                      h2.mb-1
                        a(href="/users/hotel/" + hotel._id)= hotel.name
                      span.address= hotel.city + ": " +  hotels.address
      .site-section
        .container
          .row.justify-content-center.mb-5
            .col-md-7.text-center.border-primary
              h2.font-weight-light.text-primary سوالات متداول
          .row.justify-content-center
            .col-8
              .border.p-3.rounded.mb-2
                a.accordion-item.h5.d-block.mb-0(data-toggle="collapse" href="#collapse-1" dir="rtl" style="text-align: right" role="button" aria-expanded="false" aria-controls="collapse-1") سوال اول
                #collapse-1.collapse
                  .pt-2
                    p.mb-0(dir="rtl" style="text-align: right") جواب سوال اول
              .border.p-3.rounded.mb-2
                a.accordion-item.h5.d-block.mb-0(data-toggle="collapse" href="#collapse-4" dir="rtl" style="text-align: right" role="button" aria-expanded="false" aria-controls="collapse-4") سوال دوم
                #collapse-4.collapse
                  .pt-2
                    p.mb-0(dir="rtl" style="text-align: right") جواب سوال دوم
      .py-5.bg-primary
        .container
          .row.text-center
            .col-md-12
              h2.mb-2.text-white(dir="rtl") بیا شروع کنیم. حساب کاربری بسازید.
              br
              p.mb-0
                a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(href="/users/register") عضویت
      footer.site-footer
        .container
          .row.pt-5.mt-5.text-center
            .col-md-12
              .border-top.pt-5
                p
                  | کپی‌رایت   © 1398 همه‌ی حقوق محفوظ است
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/jquery-migrate-3.0.1.min.js")
    script(src="js/jquery-ui.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/jquery.stellar.min.js")
    script(src="js/jquery.countdown.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/bootstrap-datepicker.min.js")
    script(src="js/aos.js")
    script(src="js/rangeslider.min.js")
    script(src="js/typed.js")
    script.
      var typed = new Typed('.typed-words', {
      strings: ["هتل‌های"," مسافرخانه‌های"," ویلاهای", " خانه‌های"],
      typeSpeed: 80,
      backSpeed: 80,
      backDelay: 4000,
      startDelay: 1000,
      loop: true,
      showCursor: true
      });
    script(src="js/main.js")
    script.
      window.onload = function() {
      document.getElementById('searchForm').addEventListener('submit', function() {
      Array.prototype.forEach.call(this.elements, function(el) {
      el.disabled = el.value == '';
      });
      }, false);
      };
