doctype html
html(lang="fa")
  head
    meta(charset="UTF-8")
    title TripZ | Login
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/login-style.css")
    style.
      @font-face {
      font-family: IRANSans;
      src: url(/fonts/IRANSans.ttf);
      }
      @font-face {
      font-family: IRANSansLight;
      src: url(/fonts/IRANSans_Light.ttf);
      }
      @font-face {
      font-family: IRANSansBold;
      src: url(/fonts/IRANSans_Bold.ttf);
      }
      @font-face {
      font-family: IRANSansUltraLight;
      src: url(/fonts/IRANSans_UltraLight.ttf);
      }
      @font-face {
      font-family: eq;
      src: url(/fonts/Kinesis-Std.ttf);
      }
  body
    .overlay
      form(method="post")
        .con
          header.head-form
            h2(style="font-family: IRANSansLight,serif") ورود
            // A welcome message or an explanation of the login form
            p(style="font-family: IRANSansLight,serif") برای رزرو با نام کاربری و رمز عبور خود وارد شوید
            br
          // End  header Content
          br
          .field-set
            // user name
            span.input-item
              i.fa.fa-user-circle
            // user name Input
            input#txt-input.form-input(style="font-family: IRANSansLight,serif" dir="rtl" name="email" type="text" placeholder="نام کاربری" required="")
            br
            // Password
            span.input-item
              i.fa.fa-key
            // Password Input
            input#pwd.form-input(style="font-family: IRANSansLight,serif" type="password" placeholder=" رمز عبور" dir="rtl" name="password" required="")
            // Show/hide password
            span
              i#eye.fa.fa-eye(aria-hidden="true" type="button")
            br
            // buttons
            // button LogIn
            button.log-in(style="font-family: IRANSansLight,serif")  ورود 
          // other buttons
          .other
            // Forgot Password button
            button.btn.submits.frgt-pass(onclick="window.location.href='/users/forgot'" style="font-family: IRANSansLight,serif") رمزم را فراموش کردم
            // Sign Up button
            button.btn.submits.sign-up(onclick="window.location.href='/users/register'" style="font-family: IRANSansLight,serif")
              | عضویت
              // Sign Up font icon
              i.fa.fa-user-plus(aria-hidden="true")
            // End Other the Division
            br
          div(style="text-align: center")
            button.btn.btn-success(onclick="window.location.href='/'" style="font-family: IRANSansLight,serif")
              | خانه
              // Sign Up font icon
              i.fa.fa-home(aria-hidden="true")
          // End Conrainer
        // End Form
    script(src="/js/login.js")
