doctype html
html(lang="en")
  head
    title TripZ | Profile
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
    link(rel="stylesheet" href="/fonts/icomoon/style.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/magnific-popup.css")
    link(rel="stylesheet" href="/css/jquery-ui.css")
    link(rel="stylesheet" href="/css/owl.carousel.min.css")
    link(rel="stylesheet" href="/css/owl.theme.default.min.css")
    link(rel="stylesheet" href="/css/bootstrap-datepicker.css")
    link(rel="stylesheet" href="/fonts/flaticon/font/flaticon.css")
    link(rel="stylesheet" href="/css/aos.css")
    link(rel="stylesheet" href="/css/rangeslider.css")
    link(rel="stylesheet" href="/css/style.css")
    style.
      @font-face {
      font-family: IRANSans;
      src: url(/fonts/IRANSans.ttf);
      }
      @font-face {
      font-family: IRANSansLight;
      src: url(/fonts/IRANSans_Light.ttf);
      }
      @font-face {
      font-family: IRANSansBold;
      src: url(/fonts/IRANSans_Bold.ttf);
      }
      @font-face {
      font-family: IRANSansUltraLight;
      src: url(/fonts/IRANSans_UltraLight.ttf);
      }
      @font-face {
      font-family: eq;
      src: url(/fonts/Kinesis-Std.ttf);
      }
  body(style="font-family: IRANSansLight,serif")
    .site-wrap
      .site-mobile-menu
        .site-mobile-menu-header
          .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
        .site-mobile-menu-body
      header.site-navbar.py-2.bg-white(role="banner")
        .container
          .row.align-items-center
            .col-11.col-xl-2
              h1.mb-0.site-logo
                a.text-black.h2.mb-0(href="/") تریپ‌زی
            .col-12.col-md-10.d-none.d-xl-block
              nav.site-navigation.position-relative.text-right(role="navigation")
                ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block(dir="rtl")
                  li
                    a(href="/")
                      span خانه
                  li
                    a(href="/users/login")
                      span ورود/ عضویت
                  li
                    a(href="/about")
                      span درباره ما
            .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style="position: relative; top: 3px;")
              a.site-menu-toggle.js-menu-toggle.text-black(href="#")
                span.icon-menu.h3
      .inner-page-cover.overlay.bg-primary(data-stellar-background-ratio="0.5")
        .container
          .row.align-items-center.justify-content-center.text-center
            .col-md-10(data-aos="fade-up" data-aos-delay="400")
              br
      .site-section
        .container
          .row(dir="rtl")
            .col-lg-3
              .card
                article.card-group-item.text-right
                  header.card-header.bg-primary
                    h6.title.text-white منوی کاربری
                  .filter-content
                    .list-group.list-group-flush
                      a.list-group-item(href="/users/profile") مشخصات شخصی
                      a.list-group-item(href="/users/get_my_hotels") اقامت‌گاه‌های من
                      a.list-group-item(href="/users/transactions")
                        | تاریخچه رزروها 
                        span.float-left.badge.badge-light.round 3
                    // list-group .//
                // card-group-item.//
              // card.//
            .col-lg-8(dir="rtl")
              .d-block.p-5.listing-horizontal
                form(method="post").text-right
                  .row
                    .col-lg-6
                      input.mb-2.form-control-plaintext(type="email" placeholder=currentUser.email readonly="")
                    .col-lg-6
                      input.mb-2.form-control(type="text" name="name" placeholder=currentUser.name)
                  .row
                    .col-lg-6
                      input.mb-2.form-control(type="password" name="password" placeholder="رمز عبور جدید")
                    .col-lg-6
                      input.mb-2.form-control(type="password" name="repassword" placeholder="تکرار رمز عبور جدید")
                  .row.float-right.mb-5(dir="rtl")
                    .col-lg-12.col-md-2.text-left
                      input.btn.btn-primary(type="submit" value="ثبت تغییرات")
              -if (!currentUser.ownerInfo)
                .d-block.p-5.listing-horizontal
                  form(method="post" action="/users/owner_promotion").text-right
                    .row
                      .col-lg-6
                        input.mb-2.form-control(type="text" name="phone" placeholder="شماره تلفن")
                      .col-lg-6
                        input.mb-2.form-control(type="text" name="personalID" placeholder="کد ملی")
                    .row.float-right.mb-5(dir="rtl")
                      .col-lg-12.col-md-2.text-left
                        input.btn.btn-primary(type="submit" value="ارتقا به اقامت‌گاه‌دار")
              .d-block.p-5.listing-horizontal
                form#addHotel.text-right(method="post" action="/users/add_hotel")
                  h4.text-primary.text-center.mb-5 ثبت اقامتگاه جدید
                  input.mb-2.form-control(type="text" name="name" placeholder="نام اقامت‌گاه شما")
                  input.mb-2.form-control(type="text" name="phone" placeholder="شماره تلفن")
                  input.mb-2.form-control(type="text" name="city" placeholder="شهر")
                  input.mb-2.form-control(type="text" name="address" placeholder="آدرس")
                  .form-group
                    p خدمات
                  .form-group
                    ul.list-unstyled
                      li
                        label(for="option1")
                          input#option1(type="checkbox" name="services.wifi" value="true")
                          |                         اینترنت بی‌سیم
                      li
                        label(for="option2")
                          input#option2(type="checkbox" name="services.pool" value="true")
                          |                         استخر
                      li
                        label(for="option3")
                          input#option3(type="checkbox" name="services.playGround" value="true")
                          |                         زمین بازی
                      li
                        label(for="option4")
                          input#option4(type="checkbox" name="services.coffee" value="true")
                          |                         قهوه
                      li
                        label(for="option4")
                          input#option5(type="checkbox" name="services.taxi" value="true")
                          |                         تاکسی
                  .row.float-right.mb-5(dir="rtl")
                    .col-lg-12.col-md-2.text-left
                      input.btn.btn-primary(type="submit" onclick="getFormData()" value="ثبت هتل")
        footer.site-footer
          .container
            .row.pt-5.mt-5.text-center
              .col-md-12
                .border-top.pt-5
                  p
                    | کپی‌رایت   © 1398 همه‌ی حقوق محفوظ است
      script(src="/js/jquery-3.3.1.min.js")
      script(src="/js/jquery-migrate-3.0.1.min.js")
      script(src="/js/jquery-ui.js")
      script(src="/js/popper.min.js")
      script(src="/js/bootstrap.min.js")
      script(src="/js/owl.carousel.min.js")
      script(src="/js/jquery.stellar.min.js")
      script(src="/js/jquery.countdown.min.js")
      script(src="/js/jquery.magnific-popup.min.js")
      script(src="/js/bootstrap-datepicker.min.js")
      script(src="/js/aos.js")
      script(src="/js/rangeslider.min.js")
      script(src="/js/main.js")
      script(src="js/main.js")
      script.
        function getFormData() {
        function groupIntoPairs(arr) {
        var temp = arr.slice();
        var out = [];
        while (temp.length) {
        out.push(temp.splice(0,2));
        }
        return out;
        }
        var data = {},
        inputs = [].slice.call(document.getElementById('addHotel').querySelectorAll('input')),
        name, hold, splits, L, dKey;
        inputs.forEach(function(n) {
        name = n.name;
        hold = '';
        splits = groupIntoPairs( name.split('.') );
        L = splits.length - 1;
        if (L === 0) {
        data[name] = n.value;
        } else {
        splits.forEach(function(x, i) {
        if (i !== L) hold += '.' + x.join('.');
        });
        dKey = hold.slice(1);
        data[dKey] = data[dKey] || {};
        data[dKey][splits[L][0]] = n.value;
        }
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/users/add_hotel", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
        value: data
        }));
        return data;
        }


