doctype html
html(lang="fa")
  head
    meta(charset="UTF-8")
    title TripZ | Register
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/login-style.css")
    style.
      @font-face {
      font-family: IRANSans;
      src: url(/fonts/IRANSans.ttf);
      }
      @font-face {
      font-family: IRANSansLight;
      src: url(/fonts/IRANSans_Light.ttf);
      }
      @font-face {
      font-family: IRANSansBold;
      src: url(/fonts/IRANSans_Bold.ttf);
      }
      @font-face {
      font-family: IRANSansUltraLight;
      src: url(/fonts/IRANSans_UltraLight.ttf);
      }
      @font-face {
      font-family: eq;
      src: url(/fonts/Kinesis-Std.ttf);
      }
  body
    .overlay
      form(method="post")
        .con
          header.head-form
            h2(style="font-family: IRANSansLight,serif") عضویت
            // A welcome message or an explanation of the login form
            p(style="font-family: IRANSansLight,serif" dir="rtl") برای رزرو نیاز است با اطلاعات واقعی خود ثبت‌نام کنید.
            br
          // End  header Content
          br
          .field-set
            // user name
            span.input-item
              i.fa.fa-user-circle
            // user name Input
            input#txt-input.form-input(style="font-family: IRANSansLight,serif" dir="rtl" name="name" type="text" placeholder="نام و نام خانوادگی" required="")
            br
            // Password
            span.input-item
              i.fa.fa-envelope
            input#txt-input.form-input(style="font-family: IRANSansLight,serif" dir="rtl" name="email" type="text" placeholder="ایمیل (نام کاربری)" required="")
            br
            // Password
            span.input-item
              i.fa.fa-key
            input#txt-input.form-input(style="font-family: IRANSansLight,serif" dir="rtl" name="password" type="password" placeholder="رمزعبور" required="")
            br
            // Password
            span.input-item
              i.fa.fa-key
            // Password Input
            input#pwd.form-input(style="font-family: IRANSansLight,serif" type="password" placeholder=" تکرار رمز عبور" dir="rtl" name="repassword" required="")
            // Show/hide password
            span
              i#eye.fa.fa-eye(aria-hidden="true" type="button")
            br
            // buttons
            // button LogIn
            button.log-in(style="font-family: IRANSansLight,serif")  عضویت 
          // other buttons
          .other
            // Forgot Password button
            button.btn.submits(style="font-family: IRANSansLight,serif" onclick="window.location.href='/'")
              | خانه
              // Sign Up font icon
              i.fa.fa-home(aria-hidden="true")
            button.btn.submits.sign-up(style="font-family: IRANSansLight,serif" onclick="window.location.href='/users/login'")
              | ورود
              // Sign Up font icon
              i.fa.fa-sign-in(aria-hidden="true")
            // End Other the Division
            br
          // End Conrainer
        // End Form
    script(src="/js/login.js")
